@import "tailwindcss";
:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #0b0b0b;
  color: #f3f4f6;
}

button {
  cursor: pointer;
}